@use 'sass:map';
@use './function' as function;

@mixin component-size {
    &__size {
        &--small {
            height: var(--size-component--sm);
            min-width: var(--size-component--sm);
            font-size: var(--size-font--sm);
        }

        &--medium {
            height: var(--size-component--md);
            min-width: var(--size-component--md);
            font-size: var(--size-font--md);
        }

        &--large {
            height: var(--size-component--lg);
            min-width: var(--size-component--lg);
            font-size: var(--size-font--lg);
        }
    }
}

@mixin fixed-size($width, $height) {
    min-width: $width;
    max-width: $width;
    min-height: $height;
    max-height: $height;
}

@mixin transform-center($axis, $transform-attributes: null, $is-center-other-axis: false) {
    $data: map.get(function.$axis-center-map, $axis);

    @if $is-center-other-axis {
        #{map.get($data, position)}: 50%;
    }
    transform: translate#{map.get($data, translate)}(-50%) $transform-attributes;
}