@use '../../template/mixin' as mixin;

.mde-icon {
    color: var(--theme-color-text-secondary);

    &__size {
        &--small {
            width: var(--size-svg--sm);
            height: var(--size-svg--sm);
        }

        &--medium {
            width: var(--size-svg--md);
            height: var(--size-svg--md);
        }

        &--large {
            width: var(--size-svg--lg);
            height: var(--size-svg--lg);
        }
    }

    &__size {
        &--small[data-fixed-size=true] {
            @include mixin.fixed-size(var(--size-svg--sm), var(--size-svg--sm));
        }

        &--medium[data-fixed-size=true] {
            @include mixin.fixed-size(var(--size-svg--md), var(--size-svg--md));
        }

        &--large[data-fixed-size=true] {
            @include mixin.fixed-size(var(--size-svg--lg), var(--size-svg--lg));
        }
    }
}