.app {
    &__sidebar {
        grid-area: 1 / 1 / 4 / 2;

        display: flex;
        flex-direction: column;
        width: var(--layout-sidebar);
        height: 100vh;

        border-radius: 0 24px 24px 0;
        background: var(--theme-bg-component);
        box-shadow: 4px 0 8px 0 var(--theme-color-shadow);

        > .mde-divider {
            --divider-padding: var(--padding-3);
            margin-bottom: var(--padding-1);
        }
    }

    &__logo {
        width: 2.25rem;
        height: 2.25rem;
        margin-left: 2px;

        user-select: none;
    }

    &__name {
        font-size: 1rem;
        font-weight: var(--font-weight-semibold);
        line-height: var(--size-line-height);
        color: var(--theme-color-primary);

        user-select: none;
    }
}

.sidebar {
    &__header {
        display: flex;
        align-items: center;
        gap: 8px;

        padding: var(--padding-3);
        // Calculate the element height through the internal component height.
        height: calc(var(--size-component--md) + 2 * var(--padding-3));
    }

    &__container {
        flex: 1;
    }

    &__footer {
        display: flex;
        align-items: center;

        padding: var(--padding-3);
        padding-top: 0;

        & > .mde-icon,
        & > .mde-text {
            color: var(--theme-color-text-placeholder);
        }

        .mde-icon__version {
            margin-left: var(--padding-2);
        }

        & > .mde-text {
            margin-left: var(--padding-1);
        }

        .mde-blank--flex ~ [class*="button"],
        .mde-blank--flex ~ [class*="tooltip"] {
            margin-left: var(--padding-2);
        }
    }
}